# Dependencies
**/node_modules/

# Build output
/frontend/dist/
/server/dist/

# Environment files
**/.env
**/.env.*
!**/.env.example

# Logs
*.log
npm-debug.log*

# Editor and operating system files
.vscode/
.idea/
.DS_Store
Thumbs.db
